.dashboard-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; 
  }
  
  /* ขนาดของตาราง */
  .dashboard-container table {
    flex-basis: 20%; 
    flex-shrink: 0; 
  }
  
  /* ขนาดของกราฟ */
  .dashboard-container .chart-container {
    flex-basis: 50%; 
    flex-grow: 1;
  }
  
  /* ขนาดของแผนที่ */
  .dashboard-container .map-container {
    flex-basis: 30%; 
    flex-grow: 1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  